@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
  margin: 0;
  padding: 2px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: -apple-system, sans-serif;
}

:root {
  --bg-color: #001;
  --second-bg-color: #112;
  --text-color: #fff;
 /* --main-color: #16ff00; */
  --main-color: #0ef;

}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  /*padding: 10rem 9% 2rem;*/
  padding: 7rem 3% 2rem;
}

/* Header Section Code */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur (10px);
  transition: all 0.3s ease;
}

/* Styling for the logo images */
.logo-img {
  border-radius: 50%; /* Rounds the corners of the logos */
}

/* Adjusting the logo text to be closer to the logos */
.logo {
  font-size: 2.5rem;
  font-weight: 800;
  margin-left: 1rem; /* Reduce the spacing between the name and the right logo */
  margin-right: 1rem; 
  background: -webkit-linear-gradient(#0ef, #0ef0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Left section styles */
.header-left {
  display: flex;
  align-items: center;
}

/* Center section styles */
.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* This allows the center section to take up the remaining space */
}

.navbar {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0 1rem; /* Space between menu items */
}

.navbar a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--text-color);
  margin-left: 1rem;
  transition: all 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.btn contact-me {
  display: inline-block;
  padding: 0.5rem 1.5rem; 
  margin-left: 2rem;
  background: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn contact-me:hover {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 20px var(-main-color);
  transform: scale(1.05);
}

/* Right section: navigation bar */

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  cursor: pointer;
  display: visible;
}

/* Header Section - Language Drop Down Code */

.box {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.dropdown {
    position: relative;
    width: 100%;
    height: 4rem;
    background: #0ef;
    color: #000;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.dropdown .left-icon,
.dropdown .right-icon {
    position: relative;
    top: 2px;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: #fff;
    border-radius: 40px;
    transition: .5s;
}

.dropdown .left-icon {
    left: 7px;
    transform: rotate(45deg);
}

.dropdown.active .left-icon {
    transform: rotate(135deg);
}

.dropdown .right-icon {
    transform: rotate(-45deg);
}

.dropdown.active .right-icon {
    transform: rotate(-135deg);
}

.dropdown.active .items {
  display: block; /* This makes the items visible */
}

.dropdown .items {
    position: absolute;
    top: 100%; /* Position them below the dropdown */
    left: 0;
    display: none;
    padding: 0.5rem;
    width: 100%;
    height: 140px;
    margin-top: 0rem; /* Adjust this value if needed for the distance of the header and the menu */
    overflow: hidden;
    transition: .5s;
    min-width: 150px; /* Minimum width for items */
    z-index: 1001; /* Ensures dropdown items appear above other elements -new */
}

.dropdown.active .items {
    display: block; /* Show items when active */
}

.dropdown .items a {
    position: relative;
    left: 100%;
    display: flex;
    font-size: 1.5rem;
    font-size: 14px;
    background: #fff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 2.5px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    transition-delay: calc(60ms * var(--i));
}

.dropdown.active .items a {
    left: 0;
}

.dropdown .items a:hover {
    color: #000;
}

.dropdown .items a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0ef;
    z-index: -1;
    border-radius: inherit;
    transform: rotate(160deg);
    transform-origin: right;
    transition: .5s;
}

.dropdown .items a:hover span {
    transform: rotate(0deg);
}

/* Home Section Code */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.3;
  background: -webkit-linear-gradient(#0ef, #0ef0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-img img {
  width: 15vw;
  border: 3px solid var(--main-color);
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
  0% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  }
  35% {
    border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
  }
  65% {
    border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
  }
  100% {
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  }
}

.home-content img {
  width: 10vw;
  /* border: 1px solid var(--main-color); - borda desligada */
  border-radius: 6em/9em;
  /* animation: borderAnimation 5s linear infinite; - animação do logotipo desligada */
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2) translateY(-8px);
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 20px var(--main-color);
}

.btn {
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: none;
  font-size: 1.6rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease;
}

.btn:hover {
  box-shadow: 0 0 1.6rem var(--main-color);
}

/* CV button and Contact Me button */

/* Container to center the buttons */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0rem; /* Adjust if you want more space above the buttons */
}

/* Individual button styling within the group */
.button-group .btn {
  margin-bottom: 1rem; /* Space between the buttons */
}

/* Specific margin adjustments for the Contact Me button */
.button-group .contact-me {
  margin-bottom: 0; /* No space after the last button */
}

/* About Section Code */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 15vw;
  border: 3px solid var(--main-color);
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  animation: borderAnimation 5s linear infinite;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  padding: 0 4rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* Highlights Section Code */

.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.highlights-img img {
  width: 15vw;
  border: 3px solid var(--main-color);
  border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
  animation: borderAnimation 5s linear infinite;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.highlights-content {
  padding: 0 4rem;
}

.highlights-content h2 {
  text-align: left;
  line-height: 1.2;
}

.highlights-content h3 {
  font-size: 2.6rem;
}

.highlights-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* Skills Section Code */
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(17, 17, 34);
    font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    color: rgb(0, 238, 255); 
}

#wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
}

#container {
  float: left;
  padding: 1em;
  width: 100%;
}

ol.organizational-chart,
ol.organizational-chart ol,
ol.organizational-chart li,
ol.organizational-chart li > div {
  position: relative;
}

ol.organizational-chart,
ol.organizational-chart ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol.organizational-chart {
  text-align: center;
}

ol.organizational-chart ol {
   padding-top: 1em; 
  /* padding: 7px 18px; */
}

/* traçado entre caixas */    
ol.organizational-chart ol:before, /* para baixo */
ol.organizational-chart ol:after, /* para esquerda */
ol.organizational-chart li:before, /* para direita e liga secondary na vertical */
ol.organizational-chart li:after, /* lateral esquerda e liga secondary na horizontal*/
ol.organizational-chart > li > div:before,
ol.organizational-chart > li > div:after {
  background-color: #b7a6aa;
  content: '';
  position: absolute;
}
/* traçado entre caixas */    

ol.organizational-chart ol > li {
  padding: 1em 0 0 1em;
}

ol.organizational-chart > li ol:before {
  height: 1em;
  left: 50%;
  top: 0;
  width: 3px;
}

ol.organizational-chart > li ol:after {
  height: 3px;
  left: 3px;
  top: 1em;
  width: 50%;
}

ol.organizational-chart > li ol > li:not(:last-of-type):before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ol.organizational-chart > li ol > li:not(:last-of-type):after {
  height: 100%;
  left: 0;
  top: 0;
  width: 3px;
}

ol.organizational-chart > li ol > li:last-of-type:before {
  height: 3px;
  left: 0;
  top: 2em;
  width: 1em;
}

ol.organizational-chart > li ol > li:last-of-type:after {
  height: 2em;
  left: 0;
  top: 0;
  width: 3px;
}

/* Senary */ 
ol.organizational-chart li > div {
  background-color: rgb(40, 58, 105);
  border-radius: 3px;
  min-height: 2em;
  padding: 0.5em;
} 

/*** PRIMARY ***/

ol.organizational-chart > li > div {
  background-color: rgb(40, 58, 105);
  border: 2px solid #0f172a;
  border-radius: 5px;
  outline: 2px solid rgb(40, 58, 105);
  margin-right: 1em;
}

ol.organizational-chart > li > div:before {
  bottom: 2em;
  height: 3px;
  right: -1em;
  width: 1em;
}

ol.organizational-chart > li > div:first-of-type:after {
  bottom: 0;
  height: 2em;
  right: -1em;
  width: 3px;
}

ol.organizational-chart > li > div + div {
  margin-top: 1em;
}

ol.organizational-chart > li > div + div:after {
  height: calc(100% + 1em);
  right: -1em;
  top: -1em;
  width: 3px;
}


/*** SECONDARY traço vertical de ligação para o pricipal ***/
ol.organizational-chart > li > ol:before {
  left: inherit;
  right: 0;
}

ol.organizational-chart > li > ol:after {
  left: 0;
  width: 100%;
}

ol.organizational-chart > li > ol > li > div {
  background-color: rgb(40, 58, 105);
  border: 2px solid #0f172a;
  border-radius: 5px;
  outline: 2px solid rgb(40, 58, 105);
}

/*** TERTIARY ***/
ol.organizational-chart > li > ol > li > ol > li > div {
  background-color: rgb(40, 58, 105);
  border: 2px solid #0f172a;
  border-radius: 5px;
  outline: 2px solid rgb(40, 58, 105);
}

/*** QUATERNARY ***/
ol.organizational-chart > li > ol > li > ol > li > ol > li > div {
  background-color: rgb(40, 58, 105);
}

/*** QUINARY ***/
ol.organizational-chart > li > ol > li > ol > li > ol > li > ol > li > div {
  background-color: rgb(40, 58, 105);
}

/*********************/
/*** MEDIA QUERIES ***/
/*********************/

@media only screen and ( min-width: 64em ) {

  ol.organizational-chart {
      margin-left: -1em;
      margin-right: -1em;
  }

  /* PRIMARY */
  ol.organizational-chart > li > div {
      display: inline-block;
      float: none;
      margin: 0 1em 1em 1em;
      vertical-align: bottom;
  }

  ol.organizational-chart > li > div:only-of-type {
      margin-bottom: 0;
      width: calc((100% / 1) - 2em - 4px);
  }

  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(2),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(2) ~ div {
      width: calc((100% / 2) - 2em - 4px);
  }

  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(3),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(3) ~ div {
      width: calc((100% / 3) - 2em - 4px);
  }

  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(4),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(4) ~ div {
      width: calc((100% / 4) - 2em - 4px);
  }

  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(5),
  ol.organizational-chart > li > div:first-of-type:nth-last-of-type(5) ~ div {
      width: calc((100% / 5) - 2em - 4px);
  }

  ol.organizational-chart > li > div:before,
  ol.organizational-chart > li > div:after {
      bottom: -1em!important;
      top: inherit!important;
  }

  ol.organizational-chart > li > div:before {
      height: 1em!important;
      left: 50%!important;
      width: 3px!important;
  }

  ol.organizational-chart > li > div:only-of-type:after {
      display: none;
  }

  ol.organizational-chart > li > div:first-of-type:not(:only-of-type):after,
  ol.organizational-chart > li > div:last-of-type:not(:only-of-type):after {
      bottom: -1em;
      height: 3px;
      width: calc(50% + 1em + 3px);
  }

  ol.organizational-chart > li > div:first-of-type:not(:only-of-type):after {
      left: calc(50% + 3px);
  }

  ol.organizational-chart > li > div:last-of-type:not(:only-of-type):after {
      left: calc(-1em - 3px);
  }

  ol.organizational-chart > li > div + div:not(:last-of-type):after {
      height: 3px;
      left: -2em;
      width: calc(100% + 4em);
  }

  /* SECONDARY */
  ol.organizational-chart > li > ol {
      display: flex;
      flex-wrap: nowrap;
  }

  ol.organizational-chart > li > ol:before,
  ol.organizational-chart > li > ol > li:before {
      height: 1em!important;
      left: 50%!important;
      top: 0!important;
      width: 3px!important;
  }

  ol.organizational-chart > li > ol:after {
      display: none;
  }

  ol.organizational-chart > li > ol > li {
      flex-grow: 1;
      padding-left: 1em;
      padding-right: 1em;
      padding-top: 1em;
  }

  ol.organizational-chart > li > ol > li:only-of-type {
      padding-top: 0;
  }

  ol.organizational-chart > li > ol > li:only-of-type:before,
  ol.organizational-chart > li > ol > li:only-of-type:after {
      display: none;
  }

  ol.organizational-chart > li > ol > li:first-of-type:not(:only-of-type):after,
  ol.organizational-chart > li > ol > li:last-of-type:not(:only-of-type):after {
      height: 3px;
      top: 0;
      width: 50%;
  }

  ol.organizational-chart > li > ol > li:first-of-type:not(:only-of-type):after {
      left: 50%;
  }

  ol.organizational-chart > li > ol > li:last-of-type:not(:only-of-type):after {
      left: 0;
  }

  ol.organizational-chart > li > ol > li + li:not(:last-of-type):after {
      height: 3px;
      left: 0;
      top: 0;
      width: 100%;
  }

}


/* Portfolio Section Code */

.portfolio-content {
  display: flex;
  margin-top: 3%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-content h2 {
  padding: 3rem;
}

.portfolio-grid {
  display: grid;
  gap: 3rem; /* Gap between items */
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Responsive grid */
  width: 100%;
}

.portfolio-item {
  background-color: var(--second-bg-color);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: 0 0 5px var(--main-color);
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  padding: 2em;
  transition: all 0.3s ease;
}

.portfolio-item:hover {
  border: 1px solid var(--main-color);
  transform: translateY(-5px) scale(1.03);
  cursor: pointer;
}

.portfolio-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: .5rem;
}

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}  

.row-text {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--main-color);
}

.row-icon i { /* Github Icon */
  font-size: 4rem;
  color: var(--main-color);
  border-radius: 50%;
  background: #075fe4;
}

/* Contact Section Code */

.contact {
  background: var(--second-bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  max-width: 90rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form.input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  border: 1px solid var(--main-color);
  margin: 0.7rem 0;
  resize: none;
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn {
    margin-top: 2rem;
}

/*  Footer Section Code */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--bg-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent; 
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-8px);
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* Responsive Design Code */

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
}
    
@media (max-width: 991px) {
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 786px) {
    .navbar {
        display: flex;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        transition: all 0.3s ease;
        backdrop-filter: blur (10px);
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar .active {
        right: 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
    }
    .home-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column;
    }
    .about-img img {
        width: 70vw;
        margin-top: 4rem;
    }
    .contact form.input-box input {
        width: 100%;
    }
}

/* Responsive design adjustments */
@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-center .navbar {
    display: none; /* Hide the navbar on smaller screens */
  }
  .menu-icon {
    display: block; /* Show the hamburger menu icon on smaller screens */
  }
}

@media (max-width: 617px) {
    .home-img img {
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img {
        width: 80vw;
        margin-top: 4rem;
    }
}

@media (max-width: 426px) {
    .heading {
        font-size: 5rem;
        text-align: center;
        margin: 2rem 0;
    }
}

/* ScrollBar Design */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  width: 50px;
}

/* -------------------------------- */


/* -------------------------------- */
